/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides {margin: 0; padding: 0; list-style-type: none;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; padding: 0; margin: 0; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; position: relative; z-index: 1; -moz-backface-visibility: hidden;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Styling
*********************************/
.flexslider {
	margin: 0;
	background: #fff;
	position: relative;
	zoom: 1;
}
.flexslider.loading {
	min-height: 100px;
	background: #fff url(../images/preloader.gif) 50% 50% no-repeat; 
}
.flexslider__bordered {
	padding: 4px;
	border: 1px solid #f2f2f2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 630px;
}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	height: 0;
	list-style-type: none;
}
.flex-direction-nav a {
	position: absolute; 
	top: 50%; 
	z-index: 10;
	display: block; 
	margin: -18px 0 0 0;
	width: 36px; 
	height: 36px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
	background: rgba(0,0,0,.6);
	color: #fff; 
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	opacity: 0; 
	cursor: pointer;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.flexslider:hover .flex-direction-nav a {
	opacity: 1;
}
	.flex-direction-nav li {
		margin: 0;
	}
.flex-direction-nav .flex-next {
	right: 16px;
}
.flex-direction-nav .flex-prev {
	left: 16px;
}
.flex-next:hover, 
.flex-prev:hover {
	background: #b8622b;
	color: #fff;
	text-decoration: none;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default;
}

/* Control Nav */
.flex-control-nav {
	position: absolute; 
	bottom: 17px;
	right: 15px;
	z-index: 3;
}
.flex-control-nav li {
	margin: 0 5px; 
	display: inline-block; 
	zoom: 1; *display: inline;
}
.flex-control-paging li a {
	display: block;
	width: 11px;
	height: 11px;
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 rgba(0, 0, 0, .15);
	vertical-align: top;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.flex-control-paging li a:hover {
	background: #bf6c2f;
} 
.flex-control-paging li a.flex-active {
	background: #bf6c2f;
	cursor: default;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flexslider-desc {
	position: absolute;
	left: 50%;
	margin-left: 90px;
	top: 40%;
	max-width: 480px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	z-index: 2;
}
	.flexslider-desc h2 {
		font-size: 28px;
		line-height: 48px;
		margin-bottom: .2em;
	}
		.flexslider-desc h2 span {
			display: inline-block;
			line-height: 48px;
			padding: 0 14px;
			text-shadow: 1px 1px 1px rgba(0,0,0,.3);
			margin-bottom: 4px;
		}
		.flexslider-desc h2 span.first {
			background: #b8622b;
			background: rgba(184,98,43,.65);
			color: #fff;
		}
		.flexslider-desc h2 span.second {
			background: #000;
			background: rgba(0,0,0,.75);
			color: #b8622b;
		}


/* Carousel */
.carousel-wrapper {
	position: relative;
	padding: 14px 0 20px 0;
	background: #292520 url(../images/pattern.png) 50% 0;
	-webkit-box-shadow: inset 0 4px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 4px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 4px 0 rgba(0,0,0,.1);
	text-align: center;
}
.flexslider__carousel {
	background: none;
}
.flexslider__carousel .flex-viewport {
	padding-top: 6px;
}

.flexslider__carousel .slides > li {
	margin: 0 20px 0 0;
	position: relative;
}
	.flexslider__carousel .slides > li img {
		background: #6b6862;
		padding: 3px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.flexslider__carousel .slides > li img:hover,
	.flexslider__carousel .slides > li.flex-active-slide img {
		background: #b8622b;
		cursor: pointer;
	}
	.flexslider__carousel .slides > li:before {
		content:"";
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -7px;
		top: 0;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #b8622b;
		-webkit-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.flexslider__carousel .slides > li.flex-active-slide:before {
		top: -7px;
	}
/* Direction Nav */
.flexslider__carousel .flex-direction-nav {
	opacity: 0;
}
.flexslider__carousel .flex-direction-nav a {
	width: 30px;
	height: 30px;
	top: 50%;
	margin-top: -13px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	line-height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	vertical-align: top;
}
.flexslider__carousel:hover .flex-direction-nav {
	opacity: 1;
}
	.flexslider__carousel .flex-direction-nav i {
		font-size: 14px;
		line-height: 32px;
		vertical-align: top;
		display: inline-block;
	}
.flexslider__carousel .flex-direction-nav a.flex-prev {
	left: 10px;
}
	.flexslider__carousel .flex-direction-nav a.flex-prev:hover {
		background: #000;
	}
.flexslider__carousel .flex-direction-nav a.flex-next {
	right: 10px;
}
	.flexslider__carousel .flex-direction-nav a.flex-next:hover {
		background: #000;
	}