/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
	margin-top: 14px;
}
.sf-menu > li:last-child ul {
	left: -100%;
	margin-left: 30px;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
	margin-top: -1px;
	margin-left: 1px;
}


/* Styling */
.sf-menu {
	float: right;
	margin-top: -25px;
}
.sf-menu ul {
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	min-width: 160px; /* allow long menu items to determine submenu width */
	*width: 200px; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu > li {
	margin-left: 1px;
}
	.sf-menu > li:before {
		content:"";
		display: none;
		position: absolute;
		left: 0;
		top: 49px;
		width: 4px;
		height: 4px;
		background: #E2A21A;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	.sf-menu > li:first-child:before {
		display: none;
	}
.sf-menu > li > a {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #38332c;
	text-shadow: 0 1px 0 white;
	padding: 40px 20px 19px 20px;
	text-decoration: none;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	zoom: 1; /* IE7 */
}
	.sf-menu > li > a:before {
		content:"";
		display: block;
		position: absolute;
		right: -8px;
		top: 0;
		width: 0;
		height: 0;
		border-left: 0 solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid transparent;
		-webkit-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a,
.sf-menu > li.current-menu-item > a {
	background: #E2A21A;
	background: #3e5bb7 url(../images/menu-bg.png) 0 0 repeat-x;
	color: #fff;
	text-shadow: none;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: 3px 3px 3px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.1);
}
	.sf-menu > li > a:hover:before,
	.sf-menu > li.sfHover > a:before,
	.sf-menu > li.current-menu-item > a:before {
		border-bottom-color: #1f1c18;
	}
.sf-menu > li:hover + li:before,
.sf-menu > li.sfHover + li:before,
.sf-menu > li.current-menu-item + li:before {
	display: none;
}
.sf-menu > li:first-child > a {
	
}
	.sf-menu > li:first-child > a.sf-with-ul:hover,
	.sf-menu > li.sfHover:first-child > a.sf-with-ul {
		
	}
.sf-menu a {
	
}
.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

/* Submenu */
.sf-menu ul {
	border-top: 1px solid #E2A21A;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
	.sf-menu ul:before {
		content:"";
		display: block;
		position: absolute;
		left: 20px;
		top: -6px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #E2A21A;
	}
	.sf-menu ul ul:before {
		display: none;
	}
	.sf-menu > li:last-child ul:before {
		left: auto;
		right: 20px;
	}

.sf-menu ul li {
	
}
.sf-menu ul li:first-child {
	border-top: none;
}
.sf-menu ul li a {
	padding: 6px 17px;
	border-top: 1px solid #322e28;
	background: #38332c;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "微软雅黑";
}
.sf-menu ul li:first-child > a {
	border-top: none;
}
.sf-menu ul li a:hover,
.sf-menu ul li.current-menu-item > a,
.sf-menu ul li.sfHover > a {
	background: #E2A21A;
	border-top-color: #cd7432;
	color: #fff;
	text-decoration: none;
}
	.sf-menu ul li:hover + li > a,
	.sf-menu ul li.current-menu-item + li > a,
	.sf-menu ul li.sfHover + li > a {
		border-top-color: #cd7432;
	}
.sf-menu ul li {
	
}
.sf-menu ul ul li {
	
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50px;
	right: 1em;
	margin-top: -2px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #fff; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}