<?xml  version="1.0"  encoding="UTF-8"?>
<!DOCTYPE  hibernate-configuration  PUBLIC
"-//Hibernate/Hibernate  Configuration  DTD  3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.ProxoolConnectionProvider
		</property>
		<property name="hibernate.proxool.pool_alias">
			wibupt
		</property>
		<property name="hibernate.proxool.xml">
			proxool.xml
		</property>

		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<!-- Echo all executed SQL to stdout-->
		<property name="show_sql">
			false
		</property>
		<property name="hibernate.connection.autocommit">true </property>

		<mapping
			resource="com/wicloud/main/java/entity/Branddis.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/Userinfo.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/Monindex.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/MacbrandOui.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/RealtimedataIn.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/Heatmap.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/Activity.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/Groupindex.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/GoAndCome.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/RealGate.hbm.xml" />
		<mapping
			resource="com/wicloud/main/java/entity/Activityinday.hbm.xml" />
		<mapping
		    resource="com/wicloud/main/java/entity/RealtimeTraffic.hbm.xml" />
		<mapping
		    resource="com/wicloud/main/java/entity/TrafficToday.hbm.xml" />
	</session-factory>
</hibernate-configuration>
